@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Michroma&family=Racing+Sans+One&family=Syncopate:wght@700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgba(0, 0, 0, 0.733);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bs1 {
  box-shadow: rgb(83, 81, 81) 0px 2px 4px 0px, rgb(75, 74, 74) 0px 2px 16px 0px; 
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

h1 {
  font-size:30px;
  font-weight: bold;
  font-family: 'Michroma';
  color:rgb(0, 0, 0) !important;
  
}

p {
  margin: 5px !important;
  text-align: left;
  padding: 0;
}

.btn1 {
  box-shadow: none !important;
  background-color: white !important;
  color:rgb(255, 3, 3)!important;
  border: 1px solid rgb(255, 0, 0) !important; 
  border-radius: 5px;
  outline: none;
}

.btn1:focus {
  border: none;
}

button {
  padding: 10px !important;
}

.header {
  padding: 10px;
  /* background-color: rgb(42, 39, 39); */
}

.content {
  min-height: 90vh;
  padding: 10px;
  
}

.car {
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;
  width: auto;
}

.car:hover {
  height: 220px;
}

.car:hover > .car-content {
  opacity:1;
  transform: translateY(-40px);
}

.carimg {
  height: 180px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-50px);
}

.car-content {
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}

.login {
  background-color: black;
  min-height: 100vh;
  padding-top: 90px;
}
.login label , .login h1{
  color: white !important;
  opacity: 0.6;
}

.login-form {
  background-color: #1f1f1f;
  border-radius: 10px;
}

.login-form input {
  background-color: #333333 !important;
  border: none !important;
  color: white;
  opacity: 0.5;

}


.login-logo {
  position: absolute;
  left: 0;
  right: 5%;
  top: 0;
  bottom: 80%;
  transform: translateY(-50%, -50%);
  font-size: 100px;
  opacity: 0.5;
  color: red;
}

.login-logo:hover {
  color:rgb(255, 0, 0);
}